<h3>{{post.title}}</h3>
<audio controls>
    <source src="/audio/{{post.content}}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

<div class="notation">
    {{#each (splitNotation post.notation)}}
        <span class="notation_row">{{this}}</span>
    {{/each}}
</div>


<p>Tags: {{post.tags}}</p>
<p>Created by: <a href="/users/{{post.userId}}">{{post.username}}</a></p>
<p>Created on: {{post.date}}</p>

{{#if post.key}}<p>Key: {{post.key}}</p>{{/if}}
{{#if post.instrument}}<p>Instrument: {{post.instrument}}</p>{{/if}}

{{#if session}}
    <img src="/public/img/like.png" alt="Like" class="like_button" onclick="likePost('{{post._id}}')" 
        {{#inList value=post._id list=session.likedPosts}}class="clicked"{{/inList}} />
    <img src="/public/img/dislike.png" alt="Dislike" class="dislike_button" onclick="dislikePost('{{post._id}}')" 
        {{#inList value=post._id list=session.dislikedPosts}}class="clicked"{{/inList}} />
    <img src="/public/img/favorite.png" alt="Favorite" class="favorite_button" onclick="favoritePost('{{post._id}}')" 
        {{#inList value=post._id list=session.favoritePosts}}class="clicked"{{/inList}} />
    <img src="/public/img/comment.png" alt="Comments" class="show_comments_button" onclick="showCommentsView('{{post._id}}', '{{session._id}}')" />

    <div id="commentsView-{{post._id}}" class="commentsView">
        <h4>Comments</h4>
        <ul id="commentsList-{{post._id}}">
            
        </ul>
        <section>
            <textarea id="comment_content-{{post._id}}" placeholder="Write a comment..." required></textarea>
            <button class="submit_comment">Submit Comment</button>
        </section>
    </div>
{{/if}}

{{#if profileOwner}}
    <br/>
    <form action="/posts/{{post._id}}?_method=DELETE" method="POST">
        <input type="submit" class="delete_button" value="Delete">
    </form>
    <form action="/posts/{{post._id}}/edit" method="GET">
        <input type="submit" class="edit_button" value="Edit">
    </form>
{{/if}}
