<h3>{{post.title}}</h3>
<audio controls>
    <source src="/audio/{{post.content}}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

<pre>{{post.notation}}</pre>
<p>Tags: {{post.tags}}</p>
<p>Created by: <a href="/users/{{post.userId}}">{{post.username}}</a></p>
<p>Created on: {{post.date}}</p>

{{#if post.key}}<p>Key: {{post.key}}</p>{{/if}}
{{#if post.instrument}}<p>Instrument: {{post.instrument}}</p>{{/if}}

{{#if session}}
    <img src="/public/img/like.png" alt="Like" id="like_button" onclick="likePost('{{post._id}}')" 
        {{#inList value=post._id list=session.likedPosts}}class="clicked"{{/inList}} />
    <img src="/public/img/dislike.png" alt="Dislike" id="dislike_button" onclick="dislikePost('{{post._id}}')" 
        {{#inList value=post._id list=session.dislikedPosts}}class="clicked"{{/inList}} />
    <img src="/public/img/favorite.png" alt="Favorite" id="favorite_button" onclick="favoritePost('{{post._id}}')" 
        {{#inList value=post._id list=session.favoritePosts}}class="clicked"{{/inList}} />
{{/if}}
{{#if user}}
    <a href="/posts/{{post.id}}/edit">Edit</a>
    <form action="/posts/{{post.id}}?_method=DELETE" method="POST">
        <label for="delete_button">Delete</label>
        <input type="submit" name="delete_button" id="delete_button">
    </form>
{{/if}}
