<main>
    <h1>Edit Your Profile</h1>

    {{> error_msg error=error}}

    <section class="profile">
        <form action="/users/{{user._id}}/edit" method="POST" id="edit-profile-form" enctype="multipart/form-data">
            <img src="/users/{{user._id}}/picture" 
            alt="{{#if (equals user.picture "/public/img/defaultPfp.jpeg")}}No profile picture{{else}}{{user.username}}'s profile picture{{/if}}"
            class="profile-picture">

            <label for="bio">Bio:
                <textarea id="bio" name="bio">{{user.bio}}</textarea>
            </label>

            <label for="instruments">Instruments (comma separated):
                <input type="text" id="instruments" name="instruments"
                    value="{{#each user.instruments}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}" multiple>
            </label>

            <label for="genres">Genres (comma separated):
                <input type="text" id="genres" name="genres"
                    value="{{#each user.genres}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}" multiple>
            </label>

            <label for="profilePicture">Profile Picture:
                <input type="file" id="profilePicture" name="profilePicture">
             </label>

             {{#unless (equals user.picture defaultPic)}}
            <label for="deletePicture">Delete Profile Picture
                <input type="checkbox" name="deletePicture" id="deletePicture" value="true">
            </label>
            {{/unless}}


            <input type="submit" value="Save Changes" id="edit_profile_button">
        </form>

        <p><strong>Daily Streak:</strong> {{user.dailyStreak}}</p>
        <p><strong>Instruments:</strong> {{#each user.instruments}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}</p>
        <p><strong>Genres:</strong> {{#each user.genres}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}</p>
    </section>

    <section class="posts">
        <h2>Posts</h2>
        {{#if user.posts.length}}
        <ul>
            {{#each user.posts}}
            <li>
                {{> post post=this}}
            </li>
            {{/each}}
        </ul>
        {{else}}
        <p>You haven't made any posts.</p>
        {{/if}}
    </section>
</main>