<main>
    <h1>{{user.username}}</h1>
    <section class="profile">
        <img src="/users/{{user._id}}/picture" alt="{{user.username}}" class="profile-picture">
        <p><strong>Bio:</strong> {{user.bio}}</p>
        <p><strong>Instruments:</strong> {{#each user.instruments}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}</p>
        <p><strong>Genres:</strong> {{#each user.genres}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}</p>
    </section>

    <section class="user-actions"></section>
    <a href="/users/{{user._id}}/likes">Liked Posts</a>
    <a href="/users/{{user._id}}/dislikes">Disliked Posts</a>
    <a href="/users/{{user._id}}/comments">Comments</a>
    <a href="/users/{{user._id}}/favorites">Favorited Posts</a> 

    {{#if profileOwner}}
    <a href="/users/{{user._id}}/edit">Edit Profile</a>
    {{/if}}
    </section>

    <section class="posts">
        <h2>Posts</h2>
        {{#if posts.length}}
        <ul>
            {{#each posts}}
            <li>
                {{> post post=this session=../session profileOwner=../profileOwner}}
            </li>
            {{/each}}
        </ul>
        {{else}}
        <p>{{user.username}} hasn't made any posts.</p>
        {{/if}}
    </section>
</main>