<main>
    <h1>Your Profile</h1>
    <section class="profile">
        <img src="{{user.picture}}" alt="Your profile picture" class="profile-picture">
        <p><strong>Bio:</strong> {{user.bio}}</p>
        <p><strong>Daily Streak:</strong> {{user.dailyStreak}}</p>
        <p><strong>Instruments:</strong> {{#each user.instruments}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}</p>
        <p><strong>Genres:</strong> {{#each user.genres}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}</p>
    </section>
    
    <section class="user-actions"></section>
        <a href="like-button">Liked Posts</a>
        <a href="dislike-button">Disliked Posts</a>
        <a href="comment-button">Comments</a>
        <a href="favorite-button">Favorited Posts</a>
        <a href="edit-button">Edit Profile</a>
    </section>

    <section class="posts">
        <h2>Posts</h2>
        {{#if user.posts.length}}
            <ul>
                {{#each user.posts}}
                    <li>
                        {{> post post=this}}
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>You haven't made any posts.</p>
        {{/if}}
    </section>
</main>
